.launchermenu {
    background-color: #414868;
    border-radius: 1.5rem;
    margin: .8rem .8rem;
    min-width: 18rem;
}

.timebox {
  margin: 0 2.5rem;
    .time-container {
    .content {
      font-family: JetBrainsMono Nerd Font;
      font-weight: Bolder;
      font-size: 3.6rem;
      color: #C0CAF5;
    }
    .divider {
      margin: .2rem 15px;
      padding: 0px 1px;
      background: linear-gradient($red, $magenta, $blue, $cyan);
    }
  }
  .date-container {
    font-family: Inconsolata SemiCondensed Medium;
    font-weight: Bold;
    font-size: 1rem;
    color: #C0CAF5;
    margin: 3px 0;
  }
}

.usercard {
	background-color: #3B4252;
	border-radius: 1.5rem;
}

.face {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	min-height: 65px;
	min-width: 65px;
	//border: .2rem solid $bg;
	border-radius: 15%;
	//box-shadow: 0 0 7px 1px rgba($fg, 0.3);
	margin: 10px -8px 10px 10px;
}

.user-host {
	color: #C0CAF5;
	font-family: Cartograph CF;
	font-weight: Normal;
	font-size: 1rem;
}

.host {
	color: #C0CAF5;
	font-family: Cartograph CF;
	font-size: .8rem;
}

.uptime {
	color: #C0CAF5;
	font-family: Cartograph CF;
	font-size: .7rem;
	margin-top: .5rem;
}

.btn-info {
	font-family: Material Design Icons Desktop;
	font-size: 1.2rem;
	color: #C0CAF5;
	padding: 0 .6rem;
}

.btn-info:hover {
	text-shadow: 0 0 2px #C0CAF5;
}

.usearch {
	background-color: #3B4252;
	padding: .8rem;
	border-radius: 1.5rem;
	color: #C0CAF5;
}

.launcher-pfp-label {
    font-family: Inconsolata SemiCondensed Medium;
    font-weight: Bold;
    font-size: 1rem;
}

.pacman {
	background-color: #3B4252;
	padding: .8rem;
	border-radius: 1.5rem;
	color: #C0CAF5;
	
	.pacman-icon {
		font-family: Material Design Icons Desktop;
		font-size: 1.2rem;
		color: #F0C674;
	}
	.pacman-info {
		font-family: Inconsolata SemiCondensed Medium;
		font-weight: Bold;
		font-size: 1rem;
	}
	.pacman-updates {
		font-family: Inconsolata Condensed Medium;
		font-weight: Bold;
		font-size: 1rem;
	}
}

.fetch {
		background-color: #3B4252;
		padding: .8rem 2rem .8rem 1rem;
		border-radius: 1.5rem;
		color: #C0CAF5;
		
		.arch-icon {
			font-family: Material Design Icons Desktop;
			font-size: 3rem;
			color: #C0CAF5;
	}
}

.os-icon {
	font-family: Material Design Icons Desktop;
	font-size: .8rem;
	color: #C0CAF5;
}

.pkgs-icon {
	font-family: Material Design Icons Desktop;
	font-size: .8rem;
	color: #F0C674;
}

.wm-icon {
	font-family: Material Design Icons Desktop;
	font-size: .8rem;
	color: #BB9AF7;
}

.os-text,
.pkgs-text,
.wm-text {
	font-family: Inconsolata SemiCondensed Medium;
	font-weight: Bold;
	font-size: 1rem;
}

.weatherbox {
  background-color: #3B4252;
  border-radius: 1.5rem;
  padding: .8rem;
}

.weathericon {
  padding: 0 .8rem;
  border-radius: 1.5rem;
  margin-left: .6rem;
  background-color: #3B4252;
  font-size: 1.5rem;
  font-family: "Font Awesome 6 Free Solid";
}

.weatherdesc {
  font-size: 1.75rem;
  font-family: "Inconsolata SemiCondensed Medium";
  font-weight: Bold;
}

.weathertemp {
  font-family: "Iosevka Nerd Font";
  font-size: 1.5rem;
  font-weight: bold;
  color: #C0CAF5;
}

.weathercity {
  font-size: .9rem;
  margin-top: .2rem;
  color: #C0CAF5;
  font-family: Inconsolata SemiCondensed Medium;
  font-weight: Bold;
}

.launcher-apps {
	background-color: #C0CAF5;
	padding: .8rem;
	border-radius: 1.5rem;
}

.launcher-btn {
    color: $black;
    font-family: Material Design Icons Desktop;
    font-size: 1.5rem;
}

.launcher-btn:hover {
    color: #C0CAF5;
    font-family: Material Design Icons Desktop;
    font-size: 1.5rem;
    text-shadow: 0 0 0.2rem #C0CAF5;
}


    .progress {
      background-color: #3B4252;
      padding: .7rem .7rem;
      border-radius: 1rem;

      circular-progress {
        background-color: $black;

        &.ram {
          color: #7AA2F7;
        }

        &.cpu {
          color: #9ECE6A;
        }

        &.temp {
          color: #F7768E;
        }

        &.disk {
          color: #BB9AF7;
        }
      }


    .icon {
	  font-family: "Font Awesome 6 Free Solid";
      font-size: 1rem;
      padding: 1.1rem;
    }

  }
